.informationInput{
    display: flex;
    flex-direction: column;
}
.informationInput *{
    width: 20vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    height: 2vh;
}

#captcha{
    height: 8vh;
    padding: 0;
    margin: 0;
}

#captcha svg{
    height: 8vh;
    padding: 0;
    margin :0;
}